/* =================================
   CSS Styles for Workshop 01
   ================================= */

/* TODO Task 2: Add your general styles here */


/* Reset and Base Styles */
* {
    /* Reset styles (margin, padding, box-sizing) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
}

body {
    /* Body styles:  font-family, background-color, color, etc. */
    background-color: rgb(200, 225, 245);
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    max-width: 100%;
    color: black;
}

/* TODO Task 2: Headings */
h1 {
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

h2 {
    padding: 15px 35px;   
    
}

/* TODO Task 2: Paragraphs */
p {
    padding-left: 35px;
    padding-right: 35px;
    margin: 5px;    
}

/* TODO Task 2: Images */
img {
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
}

/* TODO Task 3: Navigation Styles */
nav {
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(170, 200, 224);
    
}

nav ul {
    /* Removed bullets and styled the list */
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;

}

nav li {
    /* Display items horizontally */
    display: block;
    padding: 16px 20px;
}

nav a {
    /* Styled the links */
    text-decoration: none;
    color: black;
}

nav a:hover {
    /* Added hover effect */
    color: rgb(121, 158, 190);
}

/* Hide nav checkbox and hamburger icon on Desktop mode */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

/* Main Content Styles */
main {
    line-height: 1.6;
    max-width: 100%;
}

section {
    /* Added spacing between sections */
    padding: 20px;
}

/* TODO Task 4: Form Styles */
form {
    padding: 10px;
    max-width: 100%;
}

label {
    padding: 10px;
}

input,
textarea {
    /* Style form inputs */
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}

button {
    /* Style the submit button */
    background-color: rgb(170, 200, 224);
    padding: 10px;
    width: 150px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border-radius: 20px;
    border-color: rgb(58, 124, 179);
}

button:hover {
    /* Added hover effect for button */
    cursor: pointer;
    border-color: rgb(121, 158, 190);
}

/* Footer Styles */
footer {
    margin-bottom: 0px;
    padding-bottom: 10px;
    
}
footer a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

footer a:hover {
    /* Add hover effect */
    color: rgb(121, 158, 190);
}

/* TODO Task 5: Media Queries for Responsive Design */
/* Tablet styles (optional) */
@media (max-width: 768px) {
    /* Added tablet/mobile styles here */
    body {
        font-size: 17px;
    }

    main {
        line-height: 1.8;
    }

    section {
        padding: 10px;
    }
    
    h1, h2 {
        padding: 15px;
    }
    
    button {
        font-size: 16px;
    }

    img {
        max-width: 70%;
        height: auto;
    }
}

/* Mobile styles */
@media (max-width:  480px) {
    /* Added mobile-specific styles here */
    body {
        font-size: 15px;
    }

    input, 
    textarea { 
        width: 350px;
        font-size: 15px;
        
    }
    /*Show hamburger icon*/
    .nav-toggle-label {
        display: block;
        text-align: left;
        padding: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    /*Stacked and vertical navbar*/
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgb(170, 200, 224);
        padding: 10px;
        border-radius: 5px;
    }

    .nav-toggle:checked + .nav-toggle-label + ul {
        display: flex;
    }

    nav li {
        text-align: left;
        padding: 10px;
    }
}